


.change-password-container{

  display: flex;
  flex-direction: column;
  align-items: center;


  .change-password-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .item-error{
      color:red;
    }
  }

  .change-password-title{
    font-weight: bolder;
    font-size: xx-large;
  }
}