


.change-password-container{

  display: flex;
  flex-direction: column;
  align-items: center;


  .change-password-item{
    width: 50%;
  }

  .change-password-title{
    font-weight: bolder;
    font-size: xx-large;
  }
}