.accountPage__header{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    &__logoutButton{
        width: 150px;
        height: 50px;
        margin-top: 15px;
    }
}
.accountPage__content{
    height: 700px;
    border: 1px solid black;
    overflow: hidden;
}